body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Inter Tight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter Tight', sans-serif;
}

*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #333;
}
